@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --color-inverse-surface: #213521;
  --color-secondary-container: #d6e9c4;
  --color-primary-fixed: #c4efa3;
  --color-secondary-fixed: #d6e9c4;
  --color-on-primary-fixed: #0a2100;
  --color-inverse-primary: #a8d38a;
  --color-on-tertiary-fixed: #3a0428;
  --color-inverse-on-surface: #dff8d9;
  --color-on-primary: #ffffff;
  --color-on-secondary: #ffffff;
  --color-surface-bright: #ebffe5;
  --color-surface: #ebffe5;
  --color-tertiary-fixed-dim: #ffafd8;
  --color-surface-container-lowest: #ffffff;
  --color-on-error: #ffffff;
  --color-on-tertiary-container: #ee9ec8;
  --color-primary-container: #2d5016;
  --color-error-container: #ffdad6;
  --color-on-surface: #0c200d;
  --color-surface-container-highest: #d0e9cb;
  --color-outline-variant: #c3c9b9;
  --color-surface-dim: #c8e1c3;
  --color-outline: #73796c;
  --color-on-error-container: #93000a;
  --color-secondary-fixed-dim: #bacca9;
  --color-tertiary: #551b3f;
  --color-error: #ba1a1a;
  --color-tertiary-fixed: #ffd8e9;
  --color-on-secondary-container: #59694c;
  --color-on-surface-variant: #43493d;
  --color-surface-container-low: #e1fbdc;
  --color-surface-tint: #43682b;
  --color-surface-container-high: #d6efd0;
  --color-primary-fixed-dim: #a8d38a;
  --color-on-background: #0c200d;
  --color-on-primary-fixed-variant: #2c4f15;
  --color-on-tertiary-fixed-variant: #6f3155;
  --color-surface-variant: #d0e9cb;
  --color-tertiary-container: #703256;
  --color-on-secondary-fixed: #111f09;
  --color-on-secondary-fixed-variant: #3c4b30;
  --color-on-tertiary: #ffffff;
  --color-surface-container: #dcf5d6;
  --color-on-primary-container: #98c27b;
  
}

:root {
  --background: #ebffe5;
  --foreground: #0c200d;
  --card: #ffffff;
  --card-foreground: #0c200d;
  --popover: #ffffff;
  --popover-foreground: #0c200d;
  --primary: #173901;
  --primary-foreground: #ffffff;
  --secondary: #536347;
  --secondary-foreground: #ffffff;
  --muted: #d6e9c4;
  --muted-foreground: #43493d;
  --accent: #2d5016;
  --accent-foreground: #ffffff;
  --destructive: #ba1a1a;
  --destructive-foreground: #ffffff;
  --border: #c3c9b9;
  --input: #c3c9b9;
  --ring: #2d5016;
  --chart-1: #2d5016;
  --chart-2: #536347;
  --chart-3: #703256;
  --chart-4: #ba1a1a;
  --chart-5: #43682b;
  --radius: 0.625rem;
  --sidebar: #1A2E1A;
  --sidebar-foreground: #ebffe5;
  --sidebar-primary: #2d5016;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #2D5016;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #2d5016;
  --sidebar-ring: #c4efa3;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}